
h2 {
    margin: 20px;
}
p {
    font-size: 24px;
}
#manage {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
}

.buttonDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
button {
    font-size: 24px;
    background-color: lightgrey;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    transition: ease-in-out;
    transition-duration: 0.4s;
    width: 180px;
    font-size: 24px;
}
button:hover {
    background-color: white;
}
